.stickerButton {
  bottom: 10%;
  background-color: #373940;
  color: #eae7dc;
  border-color: slategrey;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  padding: 4px 4px;
  color: #c8e4c8;
}

.sticker {
  height: 90%;
  width: 90%;
  border-width: 2px;
  border-style: solid;
  border-color: greenyellow;
  padding: 2%;
  margin: 2%;
}

.stickerContainer {
  padding: 1%;
  border: 5px solid black;
  border-radius: 3px;
  overflow: auto;
  resize: both;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.stickerButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stickerInput {
  width: 100%;
  height: 100%;
  resize: none;
}
