.stickerButton {
  bottom: 10%;
  background-color: #373940;
  color: #eae7dc;
  border-color: slategrey;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  padding: 4px 4px;
  color: #c8e4c8;
}

.sticker {
  height: 90%;
  width: 97%;
  /* border-width: 2px;
  border-style: solid; */
  /* border-color: greenyellow; */
  padding: 15px 0px 0px 0px;
  margin: 2%;
}

.stickerContainer {
  padding: 1%;
  border: 3px solid #353535;
  border-radius: 3px;
  overflow: auto;
  resize: both;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.stickerButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stickerInput {
  width: 92%;
  height: 90%;
  resize: none;
  margin: 5px;
  font: 14px/20px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.stickerBannerWrapper {
  position: absolute;
  padding: 2px 6px;
  height: 20px;
  max-height: 60px;
  top: 6px;
  max-width: 70%;
  left: 0%;
  background-color: #353535;
  color: #d5d6d0;
}

.stickerBanner {
  background-color: #353535;
  color: #d5d6d0;
}
