.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navButton:hover {
  text-decoration: underline;
}

.padded {
  padding-left: 20px;
  padding-top: 20px;
}

.bordered {
  border: 1px solid white;
}

.imageWrapper {
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#newSticker:hover {
  background-color: #e85a4f;
  color: #eae7dc;
  border-color: slategrey;
  cursor: pointer;
}

.newSticker:hover {
  background-color: #e85a4f;
  color: #eae7dc;
  border-color: slategrey;
  cursor: pointer;
}

.updateButton {
  border-width: 1px;
  border: solid;
  border-color: gray;
  border-radius: 5px;
  padding: 3px;
}

.updateButton:hover {
  background-color: seagreen;
  color: #eae7dc;
  border-color: slategrey;
  cursor: pointer;
}

.cancelButton {
  border-width: 1px;
  border: solid;
  border-color: grey;
  border-radius: 5px;
  padding: 3px;
}

.cancelButton:hover {
  background-color: #e85a4f;
  color: #eae7dc;
  border-color: slategrey;
  cursor: pointer;
}

body {
  min-width: 400px;
  min-height: 150px;
  max-width: 400px;
  max-height: 450px;
  position: relative;
  vertical-align: middle;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  margin: 0px;
}

#navbar {
  background-color: #353535;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navButton {
  align-items: center;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  background-color: transparent;
  color: #6999c3;
}

.active {
  color: white;
  text-decoration: underline;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.contentArea {
  background-color: #18181b;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 2px;
  min-height: 150px;
}

#newSticker {
  border-width: 1px;
  border: solid;
  border-radius: 5px;
  padding: 3px;
}

.newSticker {
  border-width: 1px;
  border: solid;
  border-radius: 5px;
  padding: 3px;
  border-color: grey;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stickerContainer {
  padding: 5px;
  margin: 5px;
  flex-grow: 1;
}

.stickerHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.userName {
  /* background-color: #353535; */
  color: #eeeeee;
  width: 100%;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-radius: 5px 5px 0px 0px;
  font-size: larger;
  font-weight: 600;
  border-bottom: dashed 1px;
  border-color: #776f6f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightWrapper {
  padding: 2px 5px 2px 5px;
  width: fit-content;
  border-radius: 5px 5px 0px 0px;
  background-color: #353535;
  border-bottom: dashed 1px;
  border-color: #776f6f;
  font-size: small;
}

.blankSpace {
  padding: 2px 5px 2px 5px;
  background-color: #18181b;
  flex-grow: 1;
  border-style: none;
}

.timePassed {
  padding: 2px 5px 2px 5px;
  font-size: smaller;
  width: fit-content;
  color: #9c8a8a;
  border-radius: 3px 3px 0px 0px;
  background-color: #353535;
}

.other {
  padding: 2px 5px 2px 5px;
  width: fit-content;
  border-radius: 3px 3px 0px 0px;
  background-color: #353535;
  /* font-size: unset; */
}

.larger {
  font-size: larger;
}

.archived {
  font-weight: lighter;
  padding: 2px 5px 2px 5px;
  font-size: smaller;
  color: #9c8a8a;
  font-style: italic;
  border-radius: 3px 3px 0px 0px;
  width: fit-content;
  background-color: #353535;
}

.archived:hover {
  color: orange;
  cursor: pointer;
}

.profilePic {
  border-radius: 60px;
}

input {
  background-color: lightgrey;
}

/* .friendName {
  background-color: #ffcd86;
  width: fit-content;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-size: larger;
  font-weight: 600;
} */

/* .spacer {
} */

.stickerLink {
  /* border-radius: 0px 5px 0px 0px; */
  background-color: #353535;
  border-width: 0px 1px 1px 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  color: #e0e0e0;
  font-weight: 550;
}

.stickerLinkPersonal {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: lightcyan;
  background-color: #d8c3a5;
  cursor: pointer;
}

h1,
h2,
h3 {
  color: #bdbdbd;
}

.urlFooter {
  background-color: #353535;
  border-radius: 0px 0px 5px 5px;
  padding: 2px 2px 6px 10px;
  font-style: italic;
  color: #6999c3;
  cursor: pointer;
  border-top: dashed 1px;
  border-color: #776f6f;
}

.searchForm {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  /* padding: 0px 10px; */
  background-color: #353535;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  margin: 5px;
}

.searchLabel {
  background-color: #353535;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  font-style: italic;
  color: #6999c3;
  border-style: solid;
}

.checkBoxOption {
  display: flex;
  align-items: center;
  background-color: #353535;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-size: larger;
  margin: 5px;
  color: #81a8ec;
}

.profileOptions {
  display: flex;
  flex-direction: column;
}

.userInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background: #353535;
  margin: 10px 0px;
  border-radius: 5px;
  font-size: larger;
  color: #81a8ec;
}

.activeEditWrapper {
  background-color: #81a8ec;
  padding: 10px;
  border-radius: 5px;
  border: solid;
  display: flex;
  flex-direction: column;
  border-color: grey;
}

.editField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 5px 0px;
}

.editHeader {
  font-size: larger;
  font-weight: 700;
  background-color: lightgrey;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: black;
  align-self: center;
  margin-bottom: 10px;
}

.editFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
}

.searchInput {
  background-color: #516971;
  border: 1px dashed gray;
  padding: 2px;
  color: white;
}

.friendName {
  background-color: #353535;
  color: #d5d6d0;
  width: fit-content;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-size: larger;
  font-weight: 600;
  border: dashed 1px;
  border-color: #776f6f;
}

.lilPad {
  padding: 8px;
}

.touchOGray {
  color: grey;
}

.botPad {
  padding-bottom: 8px;
}

.signUp {
  border-width: 1px;
  border: solid;
  border-radius: 5px;
  padding: 3px;
  border-color: grey;
  width: fit-content;
  margin-top: 10px;
}

.sadText {
  color: white;
}

.inputLabel {
  font-style: italic;
  color: #81a8ec;
}

.inputField {
  background-color: #353535;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  font-style: italic;
  color: #383631;
  border-style: none;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

input {
  color: #eae7dc;
}

.resultList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline-start: unset;
}

.resultItem {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}
